body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(209, 242, 235);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
